POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DB=ujin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
REDIS_HOST=redis
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
UJIN_SYNC_TOKEN=ujin_token